/*
jQuery Plugin
Plugin Name: mjqHoverToolTip 
Author: Muhammad Javed Khalil
Website: https://www.javedkhalil.com
Description: Show a customizable moving tooltip over any element (e.g. images, paragraphs, form fields).
Use Case: Form fields, images, text can have their own unique tooltips to provide more information about the related area
*/
/*Default Style for all tooltip - its a must have*/ 
#tip-wrap {
    position: absolute;
    z-index: 999;
    background-color: #333;
    color: #fff;
    padding: 1px 6px 3px 6px;
    opacity: 0.8;
    border: 1px solid #000;
    font-size: 12px;
    box-shadow: 1px 1px 3px #333;
    border-radius: 3px;
    text-shadow:1px 1px 1px #000;
}

/*Style for second tooltip*/ 
.second-tip {
	color: #3c763d !important;
    background-color: #dff0d8 !important;
    border-color: #d6e9c6 !important;
    text-shadow: none !important;
    box-shadow: none !important;
    font-weight: bold;
}
/*Style for third tooltip*/ 
.third-tip {
	color: #a94442 !important;
    background-color: #f2dede !important;
    border-color: #ebccd1 !important;
    text-shadow: none !important;
    box-shadow: none !important;
    font-weight: bold;
}